<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">

  <p class="col-md-4 mb-0 text-body-secondary justify-content-start">
    Screen ID: {{screenData | screenIdDisplay }}
  </p>

  <p class="col-md-4 mb-0 text-body-secondary">
    Developed by: Mitchell Munson
  </p>

  <ul class="col-md-4 justify-content-start">
    <li class="text-body-secondary">CSS Framework Used: Bootstrap</li>
    <li class="text-body-secondary">Movie Information by ... TODO</li>
  </ul>
</footer>
